/* || General setup */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #a9a9a9;
}

body {
  width: 98%;
  min-width: 800px;
  margin: 0 auto;
}

/* || typography */

h1,
h2,
h3 {
  /* font-family: 'Sonsie One', cursive; */
  font-family: 'Cinzel Decorative', cursive;
  color: #2a2a2a;
}

p,
input,
li {
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  /* color: white; */
  flex: 5;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p,
li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */
header {
  margin-bottom: 7px;
  display: flex;
  flex-flow: row wrap;
}

body>* {
  background-color: red;
  padding: 1%;
}

main,
header,
nav,
article,
aside,
footer,
section {
  background-color: rgba(208, 248, 208, 0.5);
  padding:0.5%;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}

nav {
  height: 50px;
  background-color: #ff80ff;
  flex: 100%;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a,
nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
}

article,
section {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #ff80ff;
  padding: 1%;
}

aside li {
  padding-bottom: 10px;
}

aside a img {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}

form {
  /* 居中表单 */
  margin: 0 auto;
  width: 400px;
  /* 显示表单的轮廓 */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li+li {
  margin-top: 1em;
}

span {
  display: inline-block;
  background: red;
}

input[type=checkbox] {
  width: 100px;
  height: 100px;
}

label {
  cursor: pointer;
}

:root input[type=checkbox] {
  /* original check box are push outside the viexport */
  position: absolute;
  left: -1000em;
}

:root input[type=checkbox]+label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 .5em 0 0;
  background: url("https://developer.mozilla.org/files/4173/checkbox-sprite.png") no-repeat 0 0;

  /* The following is used to adjust the position of
   the check boxes on the text baseline */

  vertical-align: bottom;
  position: relative;
  bottom: 2px;
}

:root input[type=checkbox]:checked+label:before {
  background-position: 0 -16px;
}

:root input[type=checkbox]:disabled+label:before {
  background-position: 0 -32px;
}

:root input[type=checkbox]:checked:disabled+label:before {
  background-position: 0 -48px;
}

:root input[type=checkbox]:focus+label:before {
  outline: 1px dotted black;
}

select {
  width: 80px;
  padding: 10px;
}

option {
  padding: 5px;
  color: red;
}

select,
option {
  -webkit-appearance: none;
  /* To gain control over the appearance on WebKit/Chromium */
  -moz-appearance: none;
  /* To gain control over the appearance on Gecko */
  /* To gain control over the appearance on and Trident (IE)
     Note that it also works on Gecko and has partial effects on WebKit */
  background: none;
}

input+span {
  position: relative;
}

input:required+span::after {
  font-size: 0.7rem;
  position: absolute;
  content: "required";
  color: white;
  background-color: black;
  padding: 5px 10px;
  top: -26px;
  left: -70px;
}

input+span {
  position: relative;
}

input+span::before {
  position: absolute;
  right: -20px;
  top: 5px;
}

input:invalid {
  border: 2px solid red;
}

input:invalid+span::before {
  content: "✖";
  color: red;
}

input:valid+span::before {
  content: "✓";
  color: green;
}

input+span {
  position: relative;
}

input+span::after {
  font-size: 0.7rem;
  position: absolute;
  padding: 5px 10px;
  top: -26px;
}

input:required+span::after {
  color: white;
  background-color: black;
  content: "Required";
  left: -70px;
}

input:out-of-range+span::after {
  color: white;
  background-color: red;
  width: 155px;
  content: "Outside allowable value range";
  left: -182px;
}

input[type="text"]:disabled {
  background: #eee;
  border: 1px solid #ccc;
}

.disabled-label {
  color: #aaa;
}

input[type="radio"]::before {
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-color: red;
  font-size: 1.2em;
  transform: translate(3px, 3px) scale(0);
  transform-origin: center;
  transition: all 0.3s ease-in;
}

input[type="radio"]:checked::before {
  transform: translate(3px, 3px) scale(1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}

input~span {
  position: relative;
}

input:default~span::after {
  font-size: 0.7rem;
  position: absolute;
  content: "Default";
  color: white;
  background-color: black;
  padding: 5px 10px;
  right: -65px;
  top: -3px;
}

input[type="radio"]:indeterminate {
  border: 2px solid red;
  animation: 0.4s linear infinite alternate border-pulse;
}

@keyframes border-pulse {
  from {
    border: 2px solid red;
  }

  to {
    border: 6px solid red;
  }
}
