* {
    box-sizing: border-box;
}

/* styles for the editor */
.playable {
    font-family: monospace;
    display: block;
    margin-bottom: 10px;
    background-color: #F4F7F8;
    border: none;
    border-left: 6px solid #baccde;
    color: #4D4E53;
    width: 90%;
    /* max-width: 700px; */
    padding: 10px 10px 0px;
    font-size: 90%;
}

.playable-css {
    height: 200px;
    display: flex;
}

.playable-html {
    height: 200px;
    display: block;
}

.playable-buttons {
    text-align: right;
    height: 200px;
    width: 90%;
    max-width: 700px;
    padding: 5px 10px 5px 26px;
    font-size: 100%;
}

.preview {
    width: 90%;
    max-width: 700px;
    border: 1px solid #4D4E53;
    border-radius: 2px;
    padding: 10px 14px 10px 10px;
    margin-bottom: 10px;
}

.preview input {
    display: block;
    margin: 5px;
}