<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="xinetzone">
  <meta name="description" content="上善若水提供各种 AI 实现。">
  <link href="/static/css/main.css" rel="stylesheet">
  <link rel="icon" href="/static/images/logo.jpg" type="image/x-icon">
  <!-- <script src="/static/scripts/main.js" defer></script> -->
  <title>上善若水</title>
</head>

<body>
  <!-- Here is our main header that is used across all the pages of our website -->
  <header>
    <h1>上善若水</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Our team</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="/platable">platable</a></li>
    </ul>
    <!-- A Search form is another common non-linear way to navigate through a website. -->
    <form>
      <input type="search" name="q" placeholder="Search query">
      <input type="submit" value="Go!">
    </form>
  </nav>
  <!-- Here is our page's main content -->
  <main>
    <!-- It contains an article -->
    <article>
      ${article}
    </article>
    <aside>
      ${aside}
    </aside>
  </main>
  <!-- And here is our main footer that is used across all the pages of our website -->
  <footer>
    <p>©Copyright 2020 by xinetzone. All rights reversed.</p>
  </footer>
</body>

</html>